Presentacion/App_WebReferences/RefWCF/Servicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad" nillable="true" type="tns:Ciudad" />
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="CargaHoraria" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="NomCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomUsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Meteorologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tel" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Meteorologo" nillable="true" type="tns:Meteorologo" />
  <xs:complexType name="ArrayOfCiudad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:Ciudad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCiudad" nillable="true" type="tns:ArrayOfCiudad" />
  <xs:complexType name="ArrayOfMeteorologo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meteorologo" nillable="true" type="tns:Meteorologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeteorologo" nillable="true" type="tns:ArrayOfMeteorologo" />
  <xs:complexType name="Pronostico">
    <xs:sequence>
      <xs:element minOccurs="0" name="CadaHora" nillable="true" type="tns:ArrayOfCadaHora" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:Ciudad" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Meteorologo" nillable="true" type="tns:Meteorologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pronostico" nillable="true" type="tns:Pronostico" />
  <xs:complexType name="ArrayOfCadaHora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CadaHora" nillable="true" type="tns:CadaHora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCadaHora" nillable="true" type="tns:ArrayOfCadaHora" />
  <xs:complexType name="CadaHora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hora" type="xs:int" />
      <xs:element minOccurs="0" name="ProbLluvia" type="xs:int" />
      <xs:element minOccurs="0" name="ProbTormenta" type="xs:int" />
      <xs:element minOccurs="0" name="TempMax" type="xs:int" />
      <xs:element minOccurs="0" name="TempMin" type="xs:int" />
      <xs:element minOccurs="0" name="TipoCielo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VelViento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CadaHora" nillable="true" type="tns:CadaHora" />
  <xs:complexType name="ArrayOfPronostico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pronostico" nillable="true" type="tns:Pronostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPronostico" nillable="true" type="tns:ArrayOfPronostico" />
</xs:schema>